<mat-accordion *ngIf="noticias.length>0">
    <mat-expansion-panel *ngFor="let noticia of noticias">
        <mat-expansion-panel-header>
            Manchete: {{noticia.titulo}}
        </mat-expansion-panel-header>

        <p>Corpo: {{noticia.texto}}</p>
        <hr>
        <p>Autor: {{noticia.autor}}</p>

        <mat-action-row>
            <button mat-button color="primary">EDITAR</button>
            <button mat-button color="warn">REMOVER</button>
        </mat-action-row>

    </mat-expansion-panel>


</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="noticias.length<=0">Nenhum cliente cadastrado</p>
